* {
    font-family: 'ComfortaaRegular';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5rem;
    list-style: none;
    border: none;
    color: #333;
}

a {
    margin: 0px;
    padding: 0px;
}

.mobile {
    display: none;
}

body {
    position: relative;
    z-index: -1;
    -background-color: rgb(166, 217, 252);
}

.bodyCover {
    position: fixed;
    top: 50px;
    /* background-image: url("../images/assets/blue001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto; */
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}

em {
    color: rgb(161, 161, 161);
    line-height: 1.3rem;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: 0.01rem;
    margin: 0px 0px 1rem 0px;
    color: #555;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1.25em;
    letter-spacing: 0.055em;
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 0.055em;
    margin: 0px;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    margin: 0px 0px 1rem 0px;
    color: rgb(61, 61, 61);
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
    margin: 1rem 0px 1rem 0px;
    color: rgb(161, 161, 161);
}

button {
    width: 150px;
    margin: 35px auto;
    padding: 12px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 5px;
    color: rgb(61, 61, 61);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 0px 0px 0px;
    width: 96%;
    margin: 0px auto;
    grid-row: 1;
    grid-column: 1/-1;
}

nav div {
    font-size: 0.8rem;
    font-weight: 100;
    cursor: pointer;
    color: rgb(219, 219, 219);
}

nav div:nth-child(3) {
    padding-left: 20px;
    padding-right: 20px;
}

nav div:hover {
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(253, 250, 250);
}

nav div:nth-child(1) {
    margin-right: auto;
}

header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    width: 98%;
    min-height: 350px;
    background: linear-gradient( to bottom, rgba(62, 167, 236, 0.884), rgba(2, 80, 110, 0.9));
    margin-bottom: 40px;
    border-radius: 4px;
    margin: 1% auto;
    -background-image: url("../images/assets/image009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
}

.headBlock {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    grid-row: 3/6;
}

.headBlock * {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

.pageTitle {
    text-align: center;
    color: rgb(235, 231, 231);
}

.thin {
    font-weight: 100;
    font-size: 1em;
    color: rgb(209, 208, 208);
}

.pageSubTitle {
    text-align: center;
    font-weight: 300;
    letter-spacing: .02rem;
    color: rgb(219, 219, 219);
    grid-row: 6/7;
    grid-column: 1/-1;
}

.pageSubSubTitle {
    text-align: center;
    letter-spacing: .06rem;
    font-weight: 300;
    color: #cfcfcf;
}

.socLinks {
    display: flex;
    grid-row: 7/8;
    grid-column: 1/-1;
    justify-content: center;
    margin-top: 5px;
}

.socLinks div {
    font-family: "icomoon";
    font-size: 1.25rem;
    display: flex;
    color: #fff;
    cursor: pointer;
    font-weight: 200;
}

.ins {
    padding-left: 25px;
    padding-right: 25px;
}

.fb::before {
    content: "\ea91";
}

.tw::before {
    content: "\ea96";
}

.ins::before {
    content: "\ea92";
}

.bodyTitle {
    text-align: center;
    width: 90%;
    max-width: 50ch;
    margin: 0px auto;
    font-size: 1rem;
    padding: 20px;
}

.section1 {
    width: 100%;
    max-width: 900px;
    margin: 60px auto;
}

.container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    width: 90%;
    margin: 60px auto;
    gap: 25px;
    column-gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: min-content min-content;
}

.container>div {
    min-height: 150px;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    row-gap: 0px;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.cell2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 250px;
    margin: 0px 5px 0px 5px;
    grid-row: 1/3;
    grid-column: 2/3;
}

.cell2 img {
    width: 100%;
    object-fit: cover;
}

.more {
    cursor: pointer;
}

.cell1 {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 250px;
    padding: 5% 0px 0px 15px;
    grid-row: 1/2;
    grid-column: 1/2;
    padding-top: 50px;
}

.cell3 {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 250px;
    padding: 5% 0px 0px 3%;
    grid-row: 1/2;
    grid-column: 3/4;
    padding-top: 50px;
}

.cell3Text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 0PX;
    padding: 0px 15px 0px 0px;
    max-width: 550px;
    margin: 0px auto;
    margin-bottom: auto;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    min-height: 400px;
    width: 98%;
    max-width: 900px;
    margin: 0px auto;
    row-gap: 25px;
    column-gap: 20px;
}

.cell4-header {
    text-align: center;
    margin: 0px auto;
}

.cell4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
}

.cell4-cell1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-height: 400px;
    min-width: 300px;
    flex-grow: 1;
    flex-basis: 350px;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    -background: linear-gradient( to bottom, rgba(212, 212, 212, 0.6), rgba(144, 144, 146, 0.4));
}

.cell4-cell1 img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin: 2ch 0px 1ch 0px;
}

.cell4HeaderP {
    height: max-content;
}

.cell4-cell1 p {
    margin: 0px;
}

.cell4-footer {
    text-align: center;
    max-width: 50ch;
    margin: 0px auto;
    padding: 20px 10px 20px 10px;
}

@media screen and (max-width: 815px) {}

.footnote {
    margin: 0px auto;
    max-width: 50ch;
    text-align: center;
}

footer {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    width: 100%;
    height: 300px;
    background-color: rgb(12, 12, 12);
    margin-top: 100px;
    justify-items: center;
    align-content: center;
}

footer ul li {
    color: rgb(136, 136, 136);
    font-size: .8rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: .015em;
    margin: .0px;
    cursor: pointer;
}

footer ul {
    grid-column: 2 /4;
    grid-row: 3/5;
}

.footerSocial {
    display: flex;
    grid-row: 2/3;
    grid-column: 3/5;
    justify-content: center;
    margin-top: 5px;
}

.footerSocial div {
    font-family: "icomoon";
    font-size: 1.2rem;
    display: flex;
    color: rgb(187, 187, 186);
    cursor: pointer;
    font-weight: 200;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 136, 136);
    font-size: .8rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: .015em;
    margin: .0px;
    grid-row: 5/6;
    grid-column: 1/-1;
    text-align: center;
    display: block;
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
        margin: 0px auto;
    }
    .cell2 {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        max-width: 250px;
        height: 100%;
        margin: 0px 5px 0px 5px;
        grid-row: 1/3;
        grid-column: 3/4;
    }
    .cell2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cell3 {
        flex-grow: 3;
        flex-shrink: 1;
        flex-basis: 250px;
        padding: 5% 0px 0px 3%;
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .cell1 {
        flex-grow: 3;
        flex-shrink: 1;
        flex-basis: 250px;
        padding: 5% 0px 0px 3%;
        grid-row: 1/2;
        grid-column: 1/3;
    }
}

@media screen and (max-width: 650px) {
    .container {
        padding: 0%;
        width: 100%;
        margin: 0px auto;
    }
    .container>div {
        padding: 0%;
        max-width: 80%;
        margin: 0px auto;
    }
    .cell1 {
        flex-grow: 3;
        flex-shrink: 1;
        width: 100%;
        padding: 5% 0px 0px 0%;
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    .cell2 {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        width: 90%;
        grid-row: 2/3;
        grid-column: 1/-1;
    }
    .cell3 {
        flex-grow: 3;
        flex-shrink: 1;
        width: 100%;
        padding: 5% 0px 0px 0%;
        grid-row: 3/4;
        grid-column: 1/-1;
    }
    .cell3Text {
        row-gap: 0PX;
        padding: 0px 0px 0px 0px;
        max-width: 100%;
    }
    .mobile {
        display: block;
    }
    .desk {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .mobile {
        display: block;
    }
    .desk {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        width: 96%;
        margin: 0px auto;
        grid-row: 1;
        grid-column: 1/-1;
    }
    nav div {
        font-size: 0.8rem;
        font-weight: 100;
        cursor: pointer;
        color: rgb(216, 216, 218);
    }
    nav div:nth-child(1) {
        margin-right: auto;
        display: none;
    }
    header {
        position: relative;
        min-height: 100vh;
        width: 100%;
        margin: 0% auto;
        background-image: url('../images/assets/sequence-26.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -background-color: rgb(10, 102, 240);
    }
    header::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgb(5, 5, 5);
        z-index: 1;
        opacity: .5;
    }
    .headBlock {
        display: flex;
        flex-direction: column;
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .headBlock * {
        margin: 0px;
        padding: 0px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .pageTitle {
        color: rgb(216, 216, 218);
    }
    .pageSubTitle {
        max-width: 30ch;
        margin: .5rem auto;
        color: rgb(246, 246, 248);
    }
    .socLinks {
        display: flex;
        gap: 25px;
        grid-row: 7/8;
        grid-column: 1/-1;
        justify-content: center;
        margin-top: 5px;
    }
    .socLinks div {
        font-family: "icomoon";
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 200;
        border: 1px solid rgb(216, 216, 218);
        border-radius: 50%;
        padding: 14px;
        color: rgb(216, 216, 218);
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px 0px 0px 0px;
        width: 98%;
        max-width: 900px;
        margin: 0px auto;
        gap: 25px;
    }
    .cell1 {
        padding: 5%;
    }
    .cell1text p {
        max-width: 98%;
    }
    .onTop {
        z-index: 999;
        color: rgb(216, 216, 218);
    }
    .section1 {
        width: 100%;
        margin: 0px auto;
        padding: 0px 0px 0px 0px;
        border: 1px solid red;
    }
    .section2 {
        width: 100%;
        max-width: 900px;
        margin: 0px auto;
    }
    .cell4 {
        margin: 0px 0px 0px 0px;
    }
    .cell4-cell1 {
        row-gap: 10px;
        min-height: 400px;
        min-width: 300px;
        width: 96%;
        flex-grow: 0;
        flex-basis: auto;
        overflow: hidden;
        padding: 0px 20px 40px 20px;
        border-radius: 5px;
        margin: 0px auto;
        -background: linear-gradient( to bottom, rgba(212, 212, 212, 0.6), rgba(144, 144, 146, 0.4));
    }
}